{% if include.game %}{% assign game = site.data.games[include.game] %}{% if include.title %}{% assign title = include.title %}{% else %}{% assign title = game.title %}{% endif %}{{ title }}{% if include.postfix %} {{ include.postfix }}{% endif %}{% if include.checkmark %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}

{% if include.video %}
<figure class="center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% else %}
{% if game.imagesize %}{% assign size = game.imagesize %}{% else %}{% assign size = "half" %}{% endif %}
{% if include.image %}{% assign image = include.image %}{% else %}{% assign image = game.image %}{% endif %}
{% if include.thumb %}{% assign thumb = include.thumb %}{% else %}{% assign thumb = game.thumb %}{% endif %}
<figure class="{{ size }} center">
  <a href="{{ image }}">
    <img src="{{ thumb }}"/>
  </a>
{% endif %}
{% if game.developer or game.release %}  <ul>
{% if game.developer %}    <li>Developer: {{ game.developer }}</li>{% endif %}
{% if game.release %}   <li>Release: {{ game.release }}</li>{% endif %}
{% if include.platform %}    <li>Platform: {{ game.platform }}</li>{% endif %}
  </ul>{% endif %}
</figure>
{% endif %}
